@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
@keyframes photo {
  0% {
    right: -50vw; }
  100% {
    right: 100px; } }
@keyframes text1 {
  0% {
    left: -50vw; }
  100% {
    left: 0; } }
@keyframes photo-mobile {
  0% {
    right: -50vw; }
  100% {
    right: 0; } }
body {
  margin: 0px; }

.container {
  margin: 0 auto;
  max-width: 1110px;
  position: relative; }

.shortly-navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-top: 10px; }
  .shortly-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .shortly-navbar li {
    display: inline-block; }
  .shortly-navbar a {
    color: black;
    display: block;
    font: 700  'Poppins';
    padding: 6px 12px;
    text-decoration: none; }
    .shortly-navbar a:hover {
      color: #2acfcf; }
  .shortly-navbar img {
    vertical-align: middle; }
  .shortly-navbar button {
    background-color: #2acfcf;
    border-radius: 25px;
    border: 2px solid #2acfcf;
    color: white;
    font: 700 'Poppins';
    height: 35px;
    width: 100px;
    outline: none; }
    .shortly-navbar button:hover {
      background-color: #91f8ea;
      border-color: #91f8ea; }
  .shortly-navbar .icon {
    display: none; }

.shortly-navbar__mobile {
  display: none; }

.shortly-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 75px 10px 150px 10px; }
  .shortly-header--info {
    margin-right: 10px; }
  .shortly-header h1 {
    display: inline;
    font-family: 'Poppins';
    font-weight: 700; }
  .shortly-header p {
    font: 400 20px/1 'Poppins';
    opacity: 0.6; }
  .shortly-header button {
    background-color: #2acfcf;
    border-radius: 25px;
    border: 2px solid;
    color: white;
    font: 700 20px/1 'Poppins';
    height: 55px;
    width: 192px;
    outline: none; }
    .shortly-header button:hover {
      background-color: #91f8ea;
      border-color: #91f8ea; }
  .shortly-header img {
    height: auto;
    max-width: 100%; }

.shortly-body__background {
  background-color: #bfbfbf; }

.shortly-body__form {
  background-color: #3b3054;
  background-image: url("../images/bg-shorten-desktop.svg");
  border-radius: 10px;
  border: 2px transparent;
  display: flex;
  height: 160px;
  max-width: 1110px;
  position: absolute;
  top: -80px;
  width: 100%; }
  .shortly-body__form__body {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%; }
    .shortly-body__form__body .url {
      height: 60px;
      width: 60%; }
      .shortly-body__form__body .url .input {
        border-radius: 7px;
        border: 2px solid white;
        box-sizing: border-box;
        font: 700  'Poppins';
        height: 90%;
        outline: none;
        padding-left: 10px;
        width: 90%;
        outline: none; }
      .shortly-body__form__body .url .input--failed {
        border-color: red; }
    .shortly-body__form__body .button1 {
      height: 60px;
      width: 20%; }
      .shortly-body__form__body .button1 input {
        background-color: #2acfcf;
        border-radius: 7px;
        border: 2px solid #2acfcf;
        box-shadow: none;
        box-sizing: border-box;
        color: white;
        font: 400 'Poppins';
        height: 90%;
        outline: none;
        width: 90%; }
        .shortly-body__form__body .button1 input:hover {
          background-color: #91f8ea;
          border-color: #91f8ea; }

.shortly-body__items-container {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  padding-top: 100px; }

.shortly-body__items {
  align-items: center;
  background-color: white;
  border-radius: 7px;
  border: 2px transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 25px 10px 0 10px;
  max-width: 1110px;
  text-align: center; }
  .shortly-body__items .input {
    margin: 0 35px; }
  .shortly-body__items .output {
    display: flex; }
    .shortly-body__items .output .shortend-link {
      align-self: center;
      color: #2acfcf;
      font: 400 'Poppins';
      margin: 0 10px;
      text-decoration: none; }
    .shortly-body__items .output .button {
      background-color: #2acfcf;
      border-radius: 7px;
      border: 2px solid #2acfcf;
      box-shadow: none;
      box-sizing: border-box;
      color: white;
      font: 700 'Poppins';
      height: 35px;
      margin: 0 30px;
      outline: none;
      width: 100px;
      outline: none; }
    .shortly-body__items .output .button--active {
      background-color: #3b3054;
      border-color: #3b3054; }
    .shortly-body__items .output .br {
      display: none; }

.line {
  position: relative; }
  .line hr {
    background-color: #2acfcf;
    border-color: #2acfcf;
    border-width: 0;
    height: 10px;
    left: 150px;
    position: absolute;
    top: 285px;
    width: 60%; }

.shortly-body__info {
  display: flex;
  flex-direction: column;
  padding: 125px 0 120px 0;
  text-align: center; }
  .shortly-body__info h3 {
    font: 700 50px/1 'Poppins'; }
  .shortly-body__info p {
    font: 400 20px/1 'Poppins';
    opacity: 0.6; }
  .shortly-body__info__items {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px; }
    .shortly-body__info__items hr {
      border-color: #2acfcf;
      border-width: 5px;
      z-index: 0; }
    .shortly-body__info__items .box-1 {
      background-color: white;
      border-radius: 10px;
      border: 2px solid white;
      height: 255px;
      position: relative;
      width: 340px;
      z-index: 1;
      margin-top: 100px; }
      .shortly-body__info__items .box-1 .icon {
        background-color: #3b3054;
        border-radius: 50px;
        height: 90px;
        left: 30px;
        position: absolute;
        text-align: center;
        top: -45px;
        width: 90px; }
        .shortly-body__info__items .box-1 .icon img {
          margin-top: 20px; }
        .shortly-body__info__items .box-1 .icon .specific-img {
          margin-top: 25px; }
      .shortly-body__info__items .box-1 .header {
        font-size: 20px;
        font-weight: bolder;
        font-family: Poppins;
        margin: 70px 10px 20px 10px;
        font: 20px 700 poppins; }
      .shortly-body__info__items .box-1 .body {
        margin: 0 10px;
        font: 400 20px/1 'Poppins'; }
    .shortly-body__info__items .box-2 {
      background-color: white;
      border-radius: 10px;
      border: 2px solid white;
      height: 255px;
      position: relative;
      width: 340px;
      z-index: 1;
      margin-top: 140px; }
      .shortly-body__info__items .box-2 .icon {
        background-color: #3b3054;
        border-radius: 50px;
        height: 90px;
        left: 30px;
        position: absolute;
        text-align: center;
        top: -45px;
        width: 90px; }
        .shortly-body__info__items .box-2 .icon img {
          margin-top: 20px; }
        .shortly-body__info__items .box-2 .icon .specific-img {
          margin-top: 25px; }
      .shortly-body__info__items .box-2 .header {
        font-size: 20px;
        font-weight: bolder;
        font-family: Poppins;
        margin: 70px 10px 20px 10px;
        font: 20px 700 poppins; }
      .shortly-body__info__items .box-2 .body {
        margin: 0 10px;
        font: 400 20px/1 'Poppins'; }
    .shortly-body__info__items .box-3 {
      background-color: white;
      border-radius: 10px;
      border: 2px solid white;
      height: 255px;
      position: relative;
      width: 340px;
      z-index: 1;
      margin-top: 180px; }
      .shortly-body__info__items .box-3 .icon {
        background-color: #3b3054;
        border-radius: 50px;
        height: 90px;
        left: 30px;
        position: absolute;
        text-align: center;
        top: -45px;
        width: 90px; }
        .shortly-body__info__items .box-3 .icon img {
          margin-top: 20px; }
        .shortly-body__info__items .box-3 .icon .specific-img {
          margin-top: 25px; }
      .shortly-body__info__items .box-3 .header {
        font-size: 20px;
        font-weight: bolder;
        font-family: Poppins;
        margin: 70px 10px 20px 10px;
        font: 20px 700 poppins; }
      .shortly-body__info__items .box-3 .body {
        margin: 0 10px;
        font: 400 20px/1 'Poppins'; }

.shortly-signup__background {
  background-color: #3b3054;
  background-image: url("../images/bg-shorten-desktop.svg");
  background-size: 100% 100%; }

.shortly-signup {
  padding: 65px 0 50px 0;
  text-align: center; }
  .shortly-signup h1 {
    color: white;
    font: 700 20px/1 'Poppins';
    margin-bottom: 30px; }
  .shortly-signup button {
    background-color: #2acfcf;
    border-radius: 25px;
    border: 2px solid #2acfcf;
    color: white;
    font: 400 'Poppins';
    height: 60px;
    width: 200px;
    outline: none; }
    .shortly-signup button:hover {
      background-color: #91f8ea;
      border-color: #91f8ea; }

.image--animation {
  animation: photo 1.5s; }

.text1--animation {
  animation: text1 1.5s; }

.slide-show__container {
  background-color: white;
  width: 815px;
  height: 450px;
  align-self: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .slide-show__container__info {
    display: none; }
    .slide-show__container__info__photo .image {
      position: relative;
      width: 300px;
      height: 300px;
      right: 100px;
      top: 75px;
      z-index: 2;
      box-shadow: 1px 1px 2px #bfbfbf, 0 0 25px #bfbfbf; }
    .slide-show__container__info__text {
      z-index: 3;
      padding: 160px 30px 0 60px; }
      .slide-show__container__info__text .quote {
        font: 400 15px/1 "Inter";
        position: relative; }
      .slide-show__container__info__text .person-info {
        display: flex; }
        .slide-show__container__info__text .person-info .name {
          padding-right: 20px;
          font: 700 15px/1 "Inter";
          position: relative; }
        .slide-show__container__info__text .person-info .job {
          font: 200 15px/1 "Inter";
          position: relative; }
  .slide-show__container .text-quotes {
    position: relative;
    left: 105px;
    bottom: 176px;
    width: 60px;
    height: 60px; }
  .slide-show__container__btns {
    background-color: white;
    border-color: white;
    border-radius: 10px;
    width: 62px;
    height: 30px;
    position: relative;
    top: -3px;
    right: -430px;
    z-index: 2; }
    .slide-show__container__btns button {
      outline: none;
      box-shadow: none;
      border: 0px;
      width: 28px;
      height: 28px;
      padding: 0;
      background-color: white;
      outline: none; }
      .slide-show__container__btns button :hover {
        background-color: #bfbfbf; }
      .slide-show__container__btns button img {
        width: 8px;
        height: 12px;
        margin-top: 2px; }
    .slide-show__container__btns .right-button {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
    .slide-show__container__btns .left-button {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
  .slide-show__container .next-button {
    background-color: white;
    width: 31px;
    height: 30px;
    border-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  .slide-show__container .prev-button {
    width: 31px;
    height: 30px;
    border: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .slide-show__container div .container-bg {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 0;
    height: 15%; }
  .slide-show__container .img-bg {
    position: absolute;
    width: 390px;
    height: 370px;
    right: 200px;
    top: 35px; }

.shortly-footer__background {
  background-color: #232127; }

.shortly-footer {
  display: flex;
  justify-content: space-between;
  padding: 65px 10px 30px 10px; }
  .shortly-footer p {
    color: white;
    font: 700 'Poppins';
    margin: 0 0 1em 0; }
  .shortly-footer a {
    font: 400 'Poppins';
    color: white;
    display: block;
    opacity: 0.6;
    padding-bottom: 0.5em;
    text-decoration: none; }
  .shortly-footer .filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(233deg) brightness(101%) contrast(104%);
    vertical-align: middle; }
  .shortly-footer__features {
    display: flex;
    flex-direction: column;
    justify-content: start; }
    .shortly-footer__features a:hover {
      color: #2acfcf; }
  .shortly-footer__resources {
    display: flex;
    flex-direction: column;
    justify-content: start; }
    .shortly-footer__resources a:hover {
      color: #2acfcf; }
  .shortly-footer__company {
    display: flex;
    flex-direction: column;
    justify-content: start; }
    .shortly-footer__company a:hover {
      color: #2acfcf; }
  .shortly-footer__social {
    display: flex; }
    .shortly-footer__social a {
      padding: 0 10px; }
    .shortly-footer__social .img {
      fill: white; }
      .shortly-footer__social .img:hover {
        fill: #2acfcf; }

@media screen and (max-width: 700px) {
  .shortly-navbar .hideable {
    display: none; }
  .shortly-navbar .icon {
    align-self: center;
    display: block;
    float: right;
    height: 25px;
    width: 25px; }

  .shortly-navbar__mobile {
    align-items: center;
    background-color: #3b3054;
    border-radius: 25px;
    margin: 10px 10px; }
    .shortly-navbar__mobile .shortly-navbar__mobile__body {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 10px 10px;
      text-align: center; }
      .shortly-navbar__mobile .shortly-navbar__mobile__body button {
        background-color: #2acfcf;
        border-radius: 25px;
        border: 2px solid #2acfcf;
        color: white;
        font: 700 16px/1 'Poppins';
        height: 50px;
        margin: 20px 0 10px 0;
        width: 90%;
        outline: none; }
        .shortly-navbar__mobile .shortly-navbar__mobile__body button:hover {
          background-color: #91f8ea;
          border-color: #91f8ea; }
      .shortly-navbar__mobile .shortly-navbar__mobile__body a {
        color: white;
        display: block;
        font: 700 'Poppins';
        margin-top: 20px;
        padding: 6px 12px;
        text-decoration: none; }
        .shortly-navbar__mobile .shortly-navbar__mobile__body a:hover {
          color: #2acfcf; }
      .shortly-navbar__mobile .shortly-navbar__mobile__body hr {
        border-color: #bfbfbf;
        margin-top: 20px;
        width: 90%; }

  .shortly-header {
    align-items: center;
    flex-direction: column-reverse;
    padding: 0 10px;
    text-align: center; }
    .shortly-header__info {
      padding: 20px 0; }

  .shortly-body__form__body {
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .shortly-body__form__body .url, .shortly-body__form__body .button1 {
      width: 100%; }
    .shortly-body__form__body .url {
      width: 100%; }
      .shortly-body__form__body .url input {
        text-align: center; }

  .shortly-footer {
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .shortly-footer__features, .shortly-footer__resources, .shortly-footer__company, .shortly-footer__social {
      padding-top: 50px; }

  .shortly-body__items {
    flex-direction: column; }
    .shortly-body__items .output {
      flex-direction: column;
      padding-bottom: 10px;
      width: 100%; }
      .shortly-body__items .output .button {
        align-self: center;
        margin-top: 10px;
        width: 90%; }
      .shortly-body__items .output .br {
        display: block;
        width: 100%;
        border-color: #bfbfbf;
        border-width: 0.5px; } }
@media screen and (max-width: 1120px) {
  .shortly-body__info {
    padding: 50px 10px 60px 10px; }
    .shortly-body__info h3 {
      font: 700 40px/1 'Poppins'; }
    .shortly-body__info__items {
      flex-direction: column;
      margin-bottom: 0px; }
      .shortly-body__info__items .box-1, .shortly-body__info__items .box-2, .shortly-body__info__items .box-3 {
        width: 100%;
        margin-top: 90px; }
        .shortly-body__info__items .box-1 .icon, .shortly-body__info__items .box-2 .icon, .shortly-body__info__items .box-3 .icon {
          left: 50%;
          transform: translateX(-50%); }

  .line hr {
    height: 600px;
    left: 50.5%;
    position: absolute;
    transform: translateX(-50%);
    width: 4px; } }
@media screen and (max-width: 1040px) {
  .image--animation {
    animation: photo-mobile 1s; }

  .slide-show__container {
    background-color: white;
    max-width: 100%;
    width: 375px;
    height: 667px;
    align-self: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .slide-show__container__info {
      flex-direction: column-reverse;
      align-items: center;
      padding-top: 53px; }
      .slide-show__container__info__photo .image {
        width: 250px;
        height: 250px;
        right: 0;
        top: 0;
        max-width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto; }
      .slide-show__container__info__text {
        z-index: 3;
        padding: 85px 10px 0 10px; }
        .slide-show__container__info__text .quote {
          font: 400 15px/1 "Inter";
          text-align: center; }
        .slide-show__container__info__text .person-info {
          flex-direction: column;
          text-align: center; }
          .slide-show__container__info__text .person-info .name {
            padding-right: 0;
            font: 700 15px/1 "Inter";
            margin-block-end: 0; }
          .slide-show__container__info__text .person-info .job {
            font: 200 15px/1 "Inter";
            margin-block-start: 0.5em; }
    .slide-show__container .text-quotes {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      bottom: 176px;
      width: 60px;
      height: 50px;
      max-width: 100%;
      top: -190px; }
    .slide-show__container__btns {
      background-color: white;
      border-color: white;
      border-radius: 20px;
      width: 80px;
      height: 40px;
      position: relative;
      z-index: 2;
      top: -328px;
      left: 50%;
      transform: translateX(-50%); }
      .slide-show__container__btns button {
        border: 0px;
        width: 37px;
        height: 40px;
        padding: 0;
        background-color: white;
        outline: none; }
        .slide-show__container__btns button :hover {
          background-color: #bfbfbf; }
        .slide-show__container__btns button img {
          width: 8px;
          height: 12px;
          margin-top: 2px; }
      .slide-show__container__btns .right-button {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px; }
      .slide-show__container__btns .left-button {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px; }
    .slide-show__container .next-button {
      background-color: white;
      width: 31px;
      height: 30px;
      border-color: white;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    .slide-show__container .prev-button {
      width: 31px;
      height: 30px;
      border: 0px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
    .slide-show__container .img-bg {
      width: 300px;
      height: 300px;
      right: 50%;
      top: 4%;
      transform: translateX(50%); } }

/*# sourceMappingURL=styles.css.map */
