@import url(https://fonts.google.com/specimen/Poppins);

$cyan : hsl(180, 66%, 49%);
$dark-blue : hsl(255, 11%, 22%);
$dark-violet: hsl(257, 27%, 26%);
$gray : hsl(0, 0%, 75%);
$grayish-violet : hsl(257, 7%, 63%);
$red : hsl(0, 87%, 67%);
$very-dark-violet : hsl(260, 8%, 14%);
$font : 'Poppins', serif;

body{
    margin: 0px;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    position: relative;
}

.shortly-navbar {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a  {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: black;
    }
    img {
        vertical-align: middle;
    }
    button {
        border-radius: 25px;
        background-color: $cyan;
        color: white;
        width: 100px;
        height: 35px;
        border: 2px solid $cyan;
    }
}

.shortly-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 75px 0 150px 0;
    &--info{
        margin-right: 10px;
    }
    h1 {
        display: inline;
        font-family: $font;
        font-size: 50px;
    }
    p {
        font-size: 16px;
        opacity: 0.6;
    }
    button {
        background-color: $cyan;
        border-radius: 25px;
        border: 2px solid;
        color: white;
        height: 55px;
        width: 192px;
    }
    img {
        height: auto;
        max-width: 100%;
    }
}

.shortly-body__background{
    background-color: $gray;
}

.shortly-body__form{
    position: absolute;
    width: 100%;
    top: -80px;
    background-color: $dark-violet;
    background-image: url("../images/bg-shorten-desktop.svg");
    border-radius: 10px;
    border: 2px transparent;
    display: flex;
    height: 160px;
    max-width: 1110px;
    &__body {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        .url {
            height: 60px;
            width: 60%;
            .input {
                border-radius: 7px;
                border: 2px solid white;
                box-sizing: border-box;
                height: 90%;
                padding-left: 10px;
                width: 90%;
                outline: none;
            }
            .input--failed {
                border-color: red;
            }
        }
        .button {
            height: 60px;
            width: 20%;
            input {
                background-color: $cyan;
                border-radius: 7px;
                border: 2px solid $cyan;
                box-sizing: border-box;
                color: white;
                height: 90%;
                width: 90%;
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.shortly-body__items-container {
    display: flex;
    max-width: 1110px;
    flex-direction: column;
}

.shortly-body__items {
    background-color: white;
    border-radius: 7px;
    border: 2px transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: auto;
    max-width: 1110px;
    margin: 25px 10px 0 10px;
    .input {
        margin: 0 35px;
        .original-link {
        }
    }
    .output {
        display: flex;
        .shortend-link {
            margin: 0 10px;
            color: $cyan;
            text-decoration: none;
            align-self: center;
        }
        .button {
            margin: 0 30px;
            background-color: $cyan;
            border-radius: 7px;
            border: 2px solid $cyan;
            box-sizing: border-box;
            color: white;
            width: 100px;
            height: 35px;
            outline: none;
            box-shadow: none;
        }
        .button--active {
            background-color: $dark-violet;
            border-color: $dark-violet;
        }
        .br {
            display: none;
        }
    }
}

.shortly-body__info{
    padding: 125px 0 120px 0;
    text-align: center;
    h3 {
        font-size: 50px;
    }
    p {
        opacity: 0.6;
        font-size: 20px;
    }
}

.shortly-signup__background{
    background-image: url("../images/bg-shorten-desktop.svg");
    background-color: $dark-violet;
    background-size: 100% 100%;
}

.shortly-signup {
    padding: 65px 0 50px 0;
    text-align: center;
    h1 {
        color: white;
        margin-bottom: 30px;
    }
    button {
        border-radius: 25px;
        background-color: $cyan;
        color: white;
        width: 200px;
        height: 60px;
        border: 2px solid $cyan;
    }
}

.shortly-footer__background{
    background-color: $very-dark-violet;
}

.shortly-footer{
    padding: 65px 0 70px 0;
    display: flex;
    justify-content: space-between;
    p {
        margin: 0 0 1em 0;
        color: white;
        font-weight: bold;
    }
    a {
        display: block;
        padding-bottom: 0.5em;
        text-decoration: none;
        color: white;
        opacity: 0.6;
    }
    .filter-white {
        vertical-align: middle;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(233deg) brightness(101%) contrast(104%);
    }
    &__features{
       display: flex;
       flex-direction: column;
       justify-content: start;
    }
    &__resources{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    &__company{
       display: flex;
       flex-direction: column;
       justify-content: start;
    }
    &__social{
        display: flex;
        .logo {
            padding : 0 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .shortly-header{
        flex-direction: column-reverse;
        padding : 0 10px;
        text-align: center;
        align-items: center;
        &__info {
            padding: 20px 0;
        }
    }
    .shortly-body__form__body {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding : 0 10px;
        .url, .button{
           width: 100%;
        }
    }
    .shortly-footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        &__features, &__resources, &__company, &__social {
            padding-top: 50px;
        }
    }
    .shortly-body__items {
        flex-direction: column;
        .output {
            width: 100%;
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding-bottom: 10px;
            .button {
                margin-top: 10px;
            }
            .br {
                display: block;
                width: 100%;
               border-width: 0.5px;
               border-color: $grayish-violet;
            }
        }
    }
}
